
{% extends 'base.html' %} 
{% block content %}
<h1>About Nat Park Tracker</h1>
 <h2>The handy tracker app for the wild outdoors!</h2>
<hr /> 
<p class="page-content">
 Here at GA, we're big believers in getting up and stepping away from the computer and getting some
fresh air. So with Nat Park Tracker you can step WAY WAY away from the computer! Add parks that
you've visited, notes on things you've seen, as well as you're personal ratings! Keep those Memories 
 all in one app. Oh the places you'll go!
</p>
{% endblock %}